/***********************************************************************
*  Grid Panel
**********************************************************************/
/*.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 100px;
  }
*/

#contents {
  padding:5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  padding: 2em;
  flex-basis: 12em;
  text-align: center;
  }
  
 .fa-icon {
   color: #00BCD4;
 }
  /*
   .box > img {
    width: 100%;
  }
  
  .box:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
  
  .box > img {
    width: 100%;
    height: auto;
  }
  
  */
  /* Small screens */
@media all and (max-width: 600px) {
  #contents {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}